.search {
  width: 100%;
  height: 0.82rem;
  background-color: #f2f2f2;
  padding: 0.11rem;
  box-sizing: border-box;
}
.search .search1 {
  height: 0.6rem;
  width: 6rem;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #cdcccc;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.search .search1 input {
  font-size: 0.26rem;
  color: #999;
  line-height: 0.3rem;
  margin-left: 0.1rem;
  float: left;
  margin-top: 0.15rem;
  width: 4.8rem;
}
.search .search1 a {
  display: block;
  width: 0.4rem;
  height: 0.32rem;
  background-image: url("../images/search.png");
  background-size: 100%;
  float: left;
  margin-top: 0.15rem;
}
.list {
  width: 100%;
}
.list li {
  width: 100%;
  height: 0.64rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  box-sizing: border-box;
  padding: 0 0.2rem;
}
.list li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.24rem;
  color: #999;
  line-height: 0.64rem;
}
.list li i {
  position: absolute;
  right: 0.2rem;
  top: 0.21rem;
  width: 0.13rem;
  height: 0.22rem;
  background-image: url("../images/to.png");
  background-size: 100% 100%;
}
